## Dummy DataSets

In [1]:
import pandas as pd

import numpy as np

In [2]:
ndatos=500

genero=['masculino','femenino']

clases=['baja','media','alta']

genero_data=[]

clases_data=[]


for i in range(ndatos):
    
    genero_data.append(np.random.choice(genero))
    
    clases_data.append(np.random.choice(clases))


dummy_dataset=pd.DataFrame(
{
    'Edad': 25+5*np.random.randn(ndatos).astype(int),
    'Genero': genero_data,
    'Clase Social': clases_data
})

In [18]:
dummy_dataset.head(4)

   Edad     Genero Clase Social
0    25  masculino         baja
1    25   femenino         alta
2    20   femenino        media
3    25   femenino         baja

In [23]:
dummy_dataset[['Edad','Genero']]

     Edad     Genero
0      25  masculino
1      25   femenino
2      20   femenino
3      25   femenino
4      20   femenino
5      25   femenino
6      25  masculino
7      25  masculino
8      35   femenino
9      35  masculino
10     25  masculino
11     25   femenino
12     25  masculino
13     25  masculino
14     25   femenino
15     30  masculino
16     25  masculino
17     20  masculino
18     25   femenino
19     20   femenino
20     25  masculino
21     25  masculino
22     25   femenino
23     25   femenino
24     25   femenino
25     25   femenino
26     25  masculino
27     15  masculino
28     25   femenino
29     30  masculino
..    ...        ...
470    30   femenino
471    25   femenino
472    25  masculino
473    25   femenino
474    40   femenino
475    30  masculino
476    25   femenino
477    25   femenino
478    30  masculino
479    25  masculino
480    25  masculino
481    25  masculino
482    25  masculino
483    25  masculino
484    25  masculino
485    20   femenino
486    25   femenino
487    25  masculino
488    25   femenino
489    30   femenino
490    25   femenino
491    25  masculino
492    30   femenino
493    25   femenino
494    25   femenino
495    25  masculino
496    30  masculino
497    20  masculino
498    15  masculino
499    25  masculino

[500 rows x 2 columns]

In [4]:
dummy_dataset.sort_values(['Edad','Genero']) #ordenar dataset

     Edad     Genero Clase Social
50     15   femenino         baja
392    15   femenino         baja
27     15  masculino         alta
93     15  masculino         alta
176    15  masculino         alta
309    15  masculino        media
498    15  masculino         baja
2      20   femenino        media
4      20   femenino         baja
19     20   femenino         baja
30     20   femenino         baja
39     20   femenino        media
41     20   femenino         baja
97     20   femenino        media
110    20   femenino         baja
129    20   femenino         alta
164    20   femenino         baja
172    20   femenino         alta
188    20   femenino         alta
189    20   femenino         alta
206    20   femenino         baja
209    20   femenino         alta
217    20   femenino        media
227    20   femenino         baja
242    20   femenino         baja
244    20   femenino         alta
254    20   femenino         alta
259    20   femenino         baja
260    20   femenino        media
292    20   femenino         baja
..    ...        ...          ...
306    30  masculino         alta
323    30  masculino         alta
346    30  masculino         baja
351    30  masculino         baja
365    30  masculino         baja
388    30  masculino        media
429    30  masculino         baja
447    30  masculino        media
457    30  masculino         baja
475    30  masculino         baja
478    30  masculino        media
496    30  masculino         alta
8      35   femenino         alta
99     35   femenino         baja
148    35   femenino         alta
160    35   femenino        media
235    35   femenino         alta
330    35   femenino        media
334    35   femenino        media
9      35  masculino         baja
47     35  masculino         baja
183    35  masculino         baja
229    35  masculino        media
230    35  masculino         baja
231    35  masculino        media
319    35  masculino         baja
432    35  masculino        media
474    40   femenino         alta
336    40  masculino         baja
384    40  masculino         baja

[500 rows x 3 columns]

## Agrupacion de Datos

In [20]:
genero_group=dummy_dataset.groupby(['Genero'])

for names,groups in genero_group:
    
    print(names)

femenino
masculino

In [16]:
dos_grupos=dummy_dataset.groupby(['Genero','Clase Social'])

for names,groups in dos_grupos:
    print(names)
    print(groups)

('femenino', 'alta')
     Edad    Genero Clase Social
1      25  femenino         alta
5      25  femenino         alta
8      35  femenino         alta
23     25  femenino         alta
28     25  femenino         alta
31     25  femenino         alta
32     25  femenino         alta
48     25  femenino         alta
52     25  femenino         alta
55     25  femenino         alta
58     30  femenino         alta
68     25  femenino         alta
72     25  femenino         alta
73     30  femenino         alta
94     25  femenino         alta
95     25  femenino         alta
98     25  femenino         alta
109    25  femenino         alta
127    25  femenino         alta
129    20  femenino         alta
134    25  femenino         alta
145    25  femenino         alta
148    35  femenino         alta
150    30  femenino         alta
158    25  femenino         alta
168    25  femenino         alta
172    20  femenino         alta
180    30  femenino         alta
185    25  femenino         alta
188    20  femenino         alta
..    ...       ...          ...
315    25  femenino         alta
325    20  femenino         alta
326    25  femenino         alta
329    20  femenino         alta
333    20  femenino         alta
348    25  femenino         alta
356    30  femenino         alta
364    25  femenino         alta
366    25  femenino         alta
369    20  femenino         alta
370    25  femenino         alta
372    25  femenino         alta
373    25  femenino         alta
375    30  femenino         alta
377    25  femenino         alta
382    30  femenino         alta
386    30  femenino         alta
387    25  femenino         alta
433    20  femenino         alta
438    25  femenino         alta
442    30  femenino         alta
456    25  femenino         alta
461    25  femenino         alta
462    30  femenino         alta
464    20  femenino         alta
474    40  femenino         alta
476    25  femenino         alta
488    25  femenino         alta
490    25  femenino         alta
494    25  femenino         alta

[84 rows x 3 columns]
('femenino', 'baja')
     Edad    Genero Clase Social
3      25  femenino         baja
4      20  femenino         baja
11     25  femenino         baja
14     25  femenino         baja
18     25  femenino         baja
19     20  femenino         baja
22     25  femenino         baja
24     25  femenino         baja
30     20  femenino         baja
34     30  femenino         baja
41     20  femenino         baja
49     25  femenino         baja
50     15  femenino         baja
56     25  femenino         baja
57     30  femenino         baja
62     25  femenino         baja
69     25  femenino         baja
76     25  femenino         baja
81     25  femenino         baja
83     30  femenino         baja
88     25  femenino         baja
89     25  femenino         baja
99     35  femenino         baja
100    25  femenino         baja
105    30  femenino         baja
110    20  femenino         baja
113    25  femenino         baja
114    25  femenino         baja
121    25  femenino         baja
126    25  femenino         baja
..    ...       ...          ...
320    25  femenino         baja
343    30  femenino         baja
345    25  femenino         baja
367    25  femenino         baja
374    25  femenino         baja
376    30  femenino         baja
379    25  femenino         baja
392    15  femenino         baja
393    25  femenino         baja
399    25  femenino         baja
401    25  femenino         baja
403    20  femenino         baja
405    25  femenino         baja
407    25  femenino         baja
411    25  femenino         baja
413    25  femenino         baja
415    25  femenino         baja
424    25  femenino         baja
427    25  femenino         baja
431    25  femenino         baja
434    25  femenino         baja
450    20  femenino         baja
453    25  femenino         baja
455    25  femenino         baja
465    20  femenino         baja
466    25  femenino         baja
470    30  femenino         baja
486    25  femenino         baja
489    30  femenino         baja
492    30  femenino         baja

[100 rows x 3 columns]
('femenino', 'media')
     Edad    Genero Clase Social
2      20  femenino        media
25     25  femenino        media
36     25  femenino        media
37     25  femenino        media
39     20  femenino        media
43     25  femenino        media
60     30  femenino        media
61     25  femenino        media
67     25  femenino        media
84     25  femenino        media
96     25  femenino        media
97     20  femenino        media
106    25  femenino        media
116    25  femenino        media
118    25  femenino        media
119    25  femenino        media
133    25  femenino        media
135    25  femenino        media
141    30  femenino        media
151    30  femenino        media
153    25  femenino        media
160    35  femenino        media
165    25  femenino        media
167    25  femenino        media
179    25  femenino        media
196    25  femenino        media
204    25  femenino        media
207    25  femenino        media
211    25  femenino        media
216    25  femenino        media
..    ...       ...          ...
321    30  femenino        media
327    30  femenino        media
330    35  femenino        media
334    35  femenino        media
335    30  femenino        media
342    25  femenino        media
350    25  femenino        media
352    20  femenino        media
354    25  femenino        media
355    25  femenino        media
383    25  femenino        media
385    25  femenino        media
389    25  femenino        media
397    25  femenino        media
402    25  femenino        media
404    20  femenino        media
416    25  femenino        media
420    20  femenino        media
430    25  femenino        media
437    25  femenino        media
443    25  femenino        media
451    25  femenino        media
454    25  femenino        media
460    25  femenino        media
469    25  femenino        media
471    25  femenino        media
473    25  femenino        media
477    25  femenino        media
485    20  femenino        media
493    25  femenino        media

[75 rows x 3 columns]
('masculino', 'alta')
     Edad     Genero Clase Social
21     25  masculino         alta
27     15  masculino         alta
33     25  masculino         alta
51     25  masculino         alta
53     25  masculino         alta
64     30  masculino         alta
65     25  masculino         alta
77     25  masculino         alta
82     25  masculino         alta
86     25  masculino         alta
87     30  masculino         alta
93     15  masculino         alta
102    25  masculino         alta
120    25  masculino         alta
131    25  masculino         alta
138    20  masculino         alta
156    30  masculino         alta
163    25  masculino         alta
166    25  masculino         alta
174    25  masculino         alta
176    15  masculino         alta
177    25  masculino         alta
184    25  masculino         alta
197    25  masculino         alta
199    25  masculino         alta
218    25  masculino         alta
228    25  masculino         alta
237    25  masculino         alta
241    25  masculino         alta
249    20  masculino         alta
..    ...        ...          ...
317    25  masculino         alta
323    30  masculino         alta
328    25  masculino         alta
332    25  masculino         alta
337    25  masculino         alta
340    25  masculino         alta
347    20  masculino         alta
349    25  masculino         alta
357    25  masculino         alta
360    25  masculino         alta
361    25  masculino         alta
368    25  masculino         alta
378    25  masculino         alta
381    25  masculino         alta
390    25  masculino         alta
398    25  masculino         alta
408    25  masculino         alta
419    25  masculino         alta
421    25  masculino         alta
423    25  masculino         alta
426    25  masculino         alta
428    20  masculino         alta
435    25  masculino         alta
446    25  masculino         alta
459    25  masculino         alta
472    25  masculino         alta
491    25  masculino         alta
495    25  masculino         alta
496    30  masculino         alta
497    20  masculino         alta

[71 rows x 3 columns]
('masculino', 'baja')
     Edad     Genero Clase Social
0      25  masculino         baja
7      25  masculino         baja
9      35  masculino         baja
10     25  masculino         baja
13     25  masculino         baja
17     20  masculino         baja
26     25  masculino         baja
42     25  masculino         baja
45     20  masculino         baja
47     35  masculino         baja
54     30  masculino         baja
59     20  masculino         baja
63     25  masculino         baja
66     30  masculino         baja
70     30  masculino         baja
71     25  masculino         baja
75     30  masculino         baja
78     25  masculino         baja
85     25  masculino         baja
90     25  masculino         baja
91     25  masculino         baja
92     25  masculino         baja
101    25  masculino         baja
104    25  masculino         baja
107    20  masculino         baja
108    25  masculino         baja
112    30  masculino         baja
122    25  masculino         baja
124    25  masculino         baja
125    25  masculino         baja
..    ...        ...          ...
346    30  masculino         baja
351    30  masculino         baja
358    20  masculino         baja
359    20  masculino         baja
365    30  masculino         baja
371    20  masculino         baja
380    25  masculino         baja
384    40  masculino         baja
391    25  masculino         baja
394    25  masculino         baja
396    20  masculino         baja
400    25  masculino         baja
410    25  masculino         baja
412    25  masculino         baja
422    25  masculino         baja
429    30  masculino         baja
439    25  masculino         baja
440    25  masculino         baja
441    25  masculino         baja
445    25  masculino         baja
452    25  masculino         baja
457    30  masculino         baja
458    20  masculino         baja
463    25  masculino         baja
475    30  masculino         baja
480    25  masculino         baja
482    25  masculino         baja
484    25  masculino         baja
487    25  masculino         baja
498    15  masculino         baja

[97 rows x 3 columns]
('masculino', 'media')
     Edad     Genero Clase Social
6      25  masculino        media
12     25  masculino        media
15     30  masculino        media
16     25  masculino        media
20     25  masculino        media
29     30  masculino        media
35     25  masculino        media
38     25  masculino        media
40     20  masculino        media
44     25  masculino        media
46     25  masculino        media
74     25  masculino        media
79     30  masculino        media
80     25  masculino        media
103    25  masculino        media
111    25  masculino        media
115    25  masculino        media
117    25  masculino        media
123    25  masculino        media
128    30  masculino        media
136    25  masculino        media
144    30  masculino        media
157    25  masculino        media
159    20  masculino        media
171    20  masculino        media
182    20  masculino        media
191    25  masculino        media
192    25  masculino        media
193    20  masculino        media
214    25  masculino        media
..    ...        ...          ...
309    15  masculino        media
314    25  masculino        media
322    25  masculino        media
324    25  masculino        media
339    25  masculino        media
344    20  masculino        media
353    20  masculino        media
362    25  masculino        media
363    25  masculino        media
388    30  masculino        media
395    20  masculino        media
406    25  masculino        media
409    20  masculino        media
414    25  masculino        media
417    25  masculino        media
418    25  masculino        media
425    20  masculino        media
432    35  masculino        media
436    25  masculino        media
444    25  masculino        media
447    30  masculino        media
448    25  masculino        media
449    20  masculino        media
467    25  masculino        media
468    25  masculino        media
478    30  masculino        media
479    25  masculino        media
481    25  masculino        media
483    25  masculino        media
499    25  masculino        media

[73 rows x 3 columns]

## Operaciones con Grupos de Datos

In [7]:
dos_grupos.size()

Genero     Clase Social
femenino   alta             84
           baja            100
           media            75
masculino  alta             71
           baja             97
           media            73
dtype: int64

In [8]:
dos_grupos.describe()

                         Edad                                               \
                        count       mean       std   min   25%   50%   75%
Genero    Clase Social
femenino  alta           84.0  25.416667  3.657665  20.0  25.0  25.0  25.0
          baja          100.0  24.900000  3.255144  15.0  25.0  25.0  25.0
          media          75.0  25.333333  3.112023  20.0  25.0  25.0  25.0
masculino alta           71.0  24.718310  2.913923  15.0  25.0  25.0  25.0
          baja           97.0  25.773196  4.167096  15.0  25.0  25.0  25.0
          media          73.0  25.136986  3.724226  15.0  25.0  25.0  25.0


                         max
Genero    Clase Social
femenino  alta          40.0
          baja          35.0
          media         35.0
masculino alta          30.0
          baja          40.0
          media         35.0

In [9]:
dos_grupos.aggregate([np.sum,np.mean])#Operaciones especificas para todo

                        Edad
                         sum       mean
Genero    Clase Social
femenino  alta          2135  25.416667
          baja          2490  24.900000
          media         1900  25.333333
masculino alta          1755  24.718310
          baja          2500  25.773196
          media         1835  25.136986

In [10]:
dos_grupos.aggregate({
    'Edad': np.mean,
    #'Columna': operacion deseada
})

                             Edad
Genero    Clase Social
femenino  alta          25.416667
          baja          24.900000
          media         25.333333
masculino alta          24.718310
          baja          25.773196
          media         25.136986